*, *::after, *::before {
    box-sizing: border-box;
}

body{
    margin: 0;
}
.heading{
    position: relative;
    display: flex;
    top:60px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size:2.6rem;
    font-weight:800
}
.heading>div{
    position: relative;
    top: 10px;
    font-size: 2rem;
}
.board {
    width: 100vw;
    height: 85vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    /* background-color: #000; */
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content:center;
    align-items:center; 
    cursor: pointer;    
}
.cell:nth-child(1),.cell:nth-child(2),.cell:nth-child(3){
    border-top:none;
}
.cell:nth-child(3n+1){
    border-left: none;
}
.cell:nth-child(3n+3){
    border-right: none;
}
.cell:nth-child(7),.cell:nth-child(8),.cell:nth-child(9){
    border-bottom: none;
}
.cell.x,
.cell.circle{
    cursor: not-allowed;
}
.cell.x::after,
.cell.x::before,
.cell.circle::before{
    background-color:black;
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before

{
    background-color: lightgray;
}
.cell.x::after,
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content:"";
    width: 15px;
    position:absolute;
    height: 90px;
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(45deg);
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(-45deg);
}
.cell.circle::after,
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after
{
content: "";
position: absolute;
border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
width: 90px;
height: 90px;
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
width: 65px;
height: 65px;
background-color: #fff;
}

.winningMessage{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0,0,0,1);
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
}
.winningMessage button{
    font-size:3rem;
    background-color: #fff;
    border: 1px solid black;
    padding: .25em .25em;
    cursor: pointer;
}
.winningMessage button:hover{
    background-color: #000;
    color: #fff;
    border-color: white;
}
.winningMessage.show{
    display:flex;
}